##---------------Begin: proguard configuration common for all Android apps ----------
-optimizationpasses 5
-dontusemixedcaseclassnames  #>>>混淆时不会产生形形色色的类名
-dontskipnonpubliclibraryclasses  #>>>指定不去忽略非公共的库类。
-dontoptimize
#-ignorewarnings  #>>> 屏蔽warn
-verbose
-optimizations !code/simplification/arithmetic,!field/*,!class/merging/*  #>>>优化


 #>>>libraryjars 引用用到的jar包
-libraryjars /libs/android-support-v4.jar
-libraryjars /libs/commons-httpclient-3.1.jar
-libraryjars /libs/gson-2.2.4.jar


-dontwarn   #>>>不用输出警告
-dontskipnonpubliclibraryclassmembers #>>>指定不去忽略非公共的库类。
-dontskipnonpubliclibraryclasses      #>>>指定不去忽略包可见的库类的成员
-dontwarn com.nostra13.universalimageloader.**
-dontwarn javax.activation.**
-dontwarn com.sun.activation.viewers.**
-dontwarn org.apache.commons.**
-dontwarn org.apache.commons.httpclient.util
-dontwarn android.support.v4.** 

-keep class android.support.v4.app.** { *; } 
-keep class android.support.v4.content.** { *; } 
-keep class android.support.v4.os.** { *; } 
-keep class android.support.v4.util.** { *; } 
-keep class android.support.v4.view.** { *; } 
-keep class android.support.v4.widget.** { *; } 
-keep public class * extends android.support.v4.** 

-keep class com.google.gson.** { *;}
-keep class com.google.gson.annotations.**{ *;} 
-keep class com.google.gson.reflect.**{ *;} 

-keep class org.apache.commons.codec.**{ *;} 
-keep class org.apache.commons.codec.binary.**{ *;} 
-keep class org.apache.commons.codec.digest.**{ *;} 

-keep class org.apache.commons.lang.**{ *;} 
-keep class org.apache.commons.logging.**{ *;}

-keep class com.sun.activation.registries.**{ *;}
-keep class com.sun.activation.viewers.**{ *;}
-keep class javax.activation.**{ *;}

-keep class org.apache.commons.httpclient.**{ *;}

-keep class android.annotation.**{ *;}

-keep public class * extends android.app.Activity           #>>> keep 不进行混淆保持原样
-keep public class * extends android.app.Application
-keep public class * extends android.app.Service
-keep public class * extends android.content.BroadcastReceiver
-keep public class * extends android.content.ContentProvider
-keep public class * extends android.app.backup.BackupAgentHelper
-keep public class * extends android.preference.Preference
-keep public class com.android.vending.licensing.ILicensingService
-dontnote com.android.vending.licensing.ILicensingService     #>>> dontnote 不用输出通知


# Explicitly preserve all serialization members. The Serializable interface
# is only a marker interface, so it wouldn't save them.

-keepclassmembers class * implements java.io.Serializable {   #>>>保护指定类的成员，如果此类受到保护他们会保护的更好
    static final long serialVersionUID;
    private static final java.io.ObjectStreamField[] serialPersistentFields;
    private void writeObject(java.io.ObjectOutputStream);
    private void readObject(java.io.ObjectInputStream);
    java.lang.Object writeReplace();
    java.lang.Object readResolve();
}

#>>>日志文件
-keep class com.google.code.microlog4android.**{ *;}

#>>>openfire配置
-dontwarn org.jivesoftware.**

-keep class de.measite.smack.**{ *;} 
-keep class com.kenai.jbosh.**{ *;} 
-keep class com.novell.sasl.client.**{ *;} 
-keep class org.jivesoftware.smack.**{ *;}
-keep class org.jivesoftware.smackx.**{ *;}
-keep class org.jivesoftware.smackx.bytestreams.ibb.provider.**{ *;}
-keep class org.jivesoftware.smackx.bytestreams.socks5.provider.**{ *;}
-keep class org.jivesoftware.smackx.filetransfer.**{ *;}
-keep class org.jivesoftware.smackx.packet.**{ *;}
-keep class org.jivesoftware.smackx.provider.**{ *;}
#-keep class .**{ *;}


# Preserve all native method names and the names of their classes.
-keepclasseswithmembernames class * {  #>>>保护指定的类和类的成员的名称，如果所有指定的类成员出席（在压缩步骤之后）
    native <methods>;
}


-keepclasseswithmembernames class * {
    public <init>(android.content.Context, android.util.AttributeSet);
}


-keepclasseswithmembernames class * {
    public <init>(android.content.Context, android.util.AttributeSet, int);
}


# Preserve static fields of inner classes of R classes that might be accessed
# through introspection.
-keepclassmembers class **.R$* {
  public static <fields>;
}


# Preserve the special static methods that are required in all enumeration classes.
-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}


-keep public class * {
    public protected *;
}


-keep class * implements android.os.Parcelable {
  public static final android.os.Parcelable$Creator *;
}
##---------------End: proguard configuration common for all Android apps ----------


##---------------Begin: proguard configuration for Gson  ----------
# Gson uses generic type information stored in a class file when working with fields. Proguard
# removes such information by default, so configure it to keep all of it.
-keepattributes Signature


# Gson specific classes
-keepattributes Signature
-keepattributes *Annotation*
-keep class sun.misc.Unsafe { *; }
-keep class com.google.gson.stream.** { *; }


# Application classes that will be serialized/deserialized over Gson
-keep class com.gsta.v2.entity_v2.** { *; }
-keep class com.gsta.v2.entity.** { *; }
-keep class com.gsta.v2.response.** { *; }


##---------------End: proguard configuration for Gson  ----------

-keep class com.sun.**{*;}                       
-keep class com.activation.**{*;}
-keep class com.tencent.**{*;}
-keep class android.support.**{*;}
-keep class com.apache.**{*;}
-keep class org.apache.**{*;}
-keep class com.google.**{*;}
-keep class org.jivesoftware.**{*;}